// SPACER

.spacer {
  width: 100%;
  height: 80px;
  display: block;
  background: transparent;
}

.small-spacer {
  width: 100%;
  height: 20px;
  display: block;
  background: transparent;
}

.spacer-header {
  width: 100%;
  height: 57px;
  display: block;
  background: transparent;
}

.spacer-footer {
  width: 100%;
  height: 80px;
  display: block;
  background: transparent;
}
