.container {
  max-width: $limit-width-container;
  margin: 0 auto;
}
@media (max-width: $limit-width-container) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 12 {
  .span#{$i} {
    grid-column: span $i;
  }
}

@media (max-width: 960px) {
  @for $i from 1 through 12 {
    .m-span#{$i} {
      grid-column: span #{$i};
      margin-top: 20px;
    }
  }
}

@media (max-width: 600px) {
  @for $i from 1 through 12 {
    .s-span#{$i} {
      grid-column: span #{$i};
      margin-top: 20px;
    }
  }
}
